.loading-spinner {
    display: flex; /* Center the spinner horizontally and vertically */
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    height: 20rem; /* Smooth transition for show/hide */
    animation: slideIn 1s ease-in-out forwards;
  }
  

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }