
.cart-heading{
   
    transition: 2s ease-in-out;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.cart-heading:hover{
   
    transition: 2s ease-in-out;
    letter-spacing: 22px;
}


  .emptycart-centered-text {
    letter-spacing: 0.3rem; 
    
    animation: slideIn 1s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }