
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
}


.category-heading{
    text-align: center;
    transition: 2s ease-in-out;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.category-heading:hover{
    text-align: center;
    transition: 2s ease-in-out;
    letter-spacing: 22px;
}


.cat-card {
    background-color: #ffffff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }
  
.cat-card:hover {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); */
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.cat-text{
    text-align: center;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.1rem;
}

.cat-text:hover{
    transition: 0.5s ease-in-out;
    letter-spacing: 0.3rem;
    font-weight: bold !important;
    font-style: italic;
    color: #2196F3 !important;
}


